<appSettings>

  <add key="MailServer" value="dev-smtp.vidly.com"/>

  <add key ="FacebookAppId" value="881181446411679"/>
  <add key ="FacebookAppSecret" value="14bdab8a2b3d91a62e0e728efd6aa28d"/>


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>